<div class="padding-horizontal">
  <div class="ad-trash">
    <div class="ad-itself">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Fortnite -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-7899643142531807"
           data-ad-slot="3864362003"
           data-ad-format="auto"
           data-full-width-responsive="true"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>